{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background">


    <div id="hero-home">
        <div class="container-fluid h-100">
            <div class="row no-gutters h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="col-10 offset-1 display-3 logo-font text-black text-center">
                        The new collections are here
                    </h1>
                    <h4 class="col-12 mt-2 text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>    
    </div>
    <section id="cards">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-4 custom-cards">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary"><strong>Secure Checkout</strong></div>
                        <div class="card-body myborder">
                            <h5 class="card-title">Shop With Peace Of Mind</h5>
                            <p class="card-text">All orders from this site are handled by an industry leading payment processing company.</p>
                            <div class="relative w-100">
                                <a href="#" id="goSecurity" class="btn rounded-1 card-button">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 custom-cards">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary"><strong>Product Range</strong></div>
                        <div class="card-body myborder">
                            <h5 class="card-title">Over 500 Products</h5>
                            <p class="card-text">A wide range of products across multiple categories. Browse them all or search and sort products to find the right items for you.</p>
                            <div class="relative w-100">
                                <a href="#" id="goProducts" class="btn rounded-1 card-button">View More</a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 custom-cards">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary"><strong>Special Offers</strong></div>
                        <div class="card-body myborder">
                            <h5 class="card-title">Daily Deals & More</h5>
                            <p class="card-text">Browse products that are available at discounted prices through our special offers, daily deals and promotions.</p>
                            <div class="relative w-100">
                                <a href="#" id="specOffers" class="btn rounded-1 card-button">View More</a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    
        <section id="information">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active security">
                    <div class="row" id="security">
                        <div class="col-12 text-center">
                            <h2 class="text-white logo-font">Secure Checkout</h2>
                            <hr class="custom-div">
                            <div class="row info-box mb-5">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="inner-box white-shadow text-white">
                                        <p class="mt-3">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptatibus modi quidem, autem tenetur maxime 
                                            quos amet quo fuga atque debitis perferendis impedit? Minus at nihil minima. Quos, ut provident.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="inner-box white-shadow stripe">
                                        <!--Stripe Image-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="carousel-item products">
                    <div class="row" id="product-range">
                        <div class="col-12 text-center">
                            <h2 class="text-white logo-font">Product Range</h2>
                            <hr class="custom-div">
                            <div class="row info-box mb-5">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="inner-box white-shadow productBG">
                                        <!--Product Image-->
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="inner-box white-shadow text-white">
                                        <p class="mt-3">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptatibus modi quidem, autem tenetur maxime 
                                            quos amet quo fuga atque debitis perferendis impedit? Minus at nihil minima. Quos, ut provident.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="carousel-item specOffers">
                    <div class="row" id="special-offers">
                        <div class="col-12 text-center">
                            <h2 class="text-white logo-font">Special Offers</h2>
                            <hr class="custom-div">
                            <div class="row info-box mb-5">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="inner-box white-shadow text-white">
                                        <p class="mt-3">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptatibus modi quidem, autem tenetur maxime 
                                            quos amet quo fuga atque debitis perferendis impedit? Minus at nihil minima. Quos, ut provident.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="inner-box white-shadow offerBG">
                                        <!--Offer Image-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>        
        </section>

    <section id="questions">
        <div class="skew bg-primary mb-5">
            <div class="unskew">
                <h1 class="">Next Section</h1>
            </div>
        </div>
        <div class="row spacer">
            <!--Spacer-->
        </div>
        <div class="unskew bg-primary mt-5">
            <div class="skew">
                <h1 class="mt-5">Second Section</h1>
            </div>
        </div>
    </section>

</div>
{% endblock %}
{% block post_js %}
<script>
    $('#goSecurity').click(function(event){
        event.preventDefault();
        $('#information').find('.active').removeClass('active');
        $('.security').addClass('active');
    })
    $('#goProducts').click(function(event){
        event.preventDefault();
        $('#information').find('.active').removeClass('active');
        $('.products').addClass('active');
    })
    $('#specOffers').click(function(event){
        event.preventDefault();
        $('#information').find('.active').removeClass('active');
        $('.specOffers').addClass('active');
    })
</script>
{% endblock %}