{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<link rel="stylesheet" href="{% static 'css/custom-carousel.css' %}">  
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background">
    <div id="hero-home">
        <div class="container-fluid h-100">
            <div class="row no-gutters h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="col-10 offset-1 display-3 logo-font text-black text-center">
                        The new collections are here
                    </h1>
                    <h4 class="col-12 mt-2 text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>    
    </div>
    <section id="cards">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center myborder custom-cards">
                        <div class="card-header text-white bg-black"><strong>Secure Checkout</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Shop With Peace Of Mind</h5>
                            <p class="card-text">All orders from this site are handled by an industry leading payment processing company.</p>
                            <div class="relative w-100">
                                <a href="#" id="goSecurity" class="btn rounded-1 card-button">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center myborder custom-cards">
                        <div class="card-header text-white bg-black"><strong>Product Range</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Over 500 Products</h5>
                            <p class="card-text">A wide range of products across multiple categories. Browse them all or search and sort products to find the right items for you.</p>
                            <div class="relative w-100">
                                <a href="#" id="goProducts" class="btn rounded-1 card-button">View More</a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center myborder custom-cards">
                        <div class="card-header text-white bg-black"><strong>Special Offers</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Daily Deals & More</h5>
                            <p class="card-text">Browse products that are available at discounted prices through our special offers, daily deals and promotions.</p>
                            <div class="relative w-100">
                                <a href="#" id="specOffers" class="btn rounded-1 card-button">View More</a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    
        <section id="homeCarousel">
            <div class="brands">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="brands_slider_container">
                                <div class="owl-carousel owl-theme brands_slider">
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_1.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_2.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_4.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_5.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_3.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_6.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_7.jpg" alt=""></div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="brands_item d-flex flex-column justify-content-center"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_8.jpg" alt=""></div>
                                    </div>
                                </div> <!-- Brands Slider Navigation -->
                                <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                                <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="page-content">
            <div class="col-12 text-center">
                <div class="w-100">
                    <h2 class="logo-font text-black pt-3">
                        <strong>
                            <u>Gibur
                                <span class="logoImg">
                                    <img src="../media/siteImages/favicon.png" alt="Maltese flag">
                                    <img src="../media/siteImages/favicon.png" alt="Maltese flag">
                                </span>
                            </u>
                        </strong>
                        <span class="text-muted"><em>.com</em></span>
                    </h2>
                    <hr class="custom-div">
                    <h3 class="text-black">Find Out More About Us</h3>
                    <small class="text-black">Please Select From The Following:</small>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-2">
                            <button class="btn btn-large text-white bg-black" id="showabout">About Us</button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-large text-white bg-black" id="showsecurity">Security</button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-large text-white bg-black" id="showProdRange">Products</button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-large text-white bg-black" id="showHow">How It Works?</button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-large text-white bg-black">Returns</button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-large text-white bg-black">Personal Data</button>
                        </div>
                    </div>
                    <div class="sections">
                        <div class="row justify-content-center" id="about-us">
                            <h3 class="logo-font">About Giburoo</h3>
                            <div class="col-10">
                                <h4 class="text-muted">Maltese Origins</h4>
                                <p class="text-black">
                                    Giburoo is an online platform that enables both Maltese and Gozitan businesses sell their products 
                                    online.<br><br>
                                    We aim to provide a platform for shoppers across the Maltese islands gain access to their favorite 
                                    shops right from their computer, tablet or handheld device.                     
                                </p>
                                <h4 class="text-muted">What's With The Name?</h4>
                                <p class="text-black">
                                    As our business is centered on the Maltese islands and the idea of shopping locally, our name derives 
                                    from the Maltese words "Ġib" & "Ġibr", meaning "Get It & Collect".
                                </p>

                            </div>
                        </div>
                        <div class="row justify-content-center" id="security">
                            <h3 class="logo-font">Security & Checkout</h3>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="text-muted">For Shop Owners</h4>
                                <p class="text-black">
                                    In order to receive payment, shop owners must have a registered payment method. This is required to facilitate seamless transfer 
                                    of funds from buyers to your account. Errors in your payment information will result in a broken transaction.
                                </p>
                                <h5>What Bank Information Is Needed?</h5>
                                <p class="text-black">
                                    The standard account identifier would be required. Please note that Easy Shop does not ask for sensitive bank information. <br><br>
                                    Please do not provide any sensitive bank information to us, or others online.
                                </p>    
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="text-muted">For Shoppers</h4>
                                <p class="text-black">
                                    Our checkout is powered by Stripe, an international giant in online payment processing. Although you may save your payment information 
                                    we would ask you to remain vigilent with your bank details online. 
                                </p>
                                <h5>What Bank Information Is Needed To Checkout?</h5>
                                <p class="text-black">
                                    To complete checkout, a card number, cvv and expiry are needed. We will soon add other payment options, via Apple pay and others.
                                </p>
                            </div>
                        </div>    
                        <div class="row justify-content-center" id="prodRange">
                            <h3 class="logo-font">Product Range</h3>
                            <div class="col-12">
                                <p class="text-black">
                                    Although we aim to cover all categories of online shopping, we are currently limited to a selection of specific product 
                                    categories:
                                </p>
                                <p class="text-black logo-font">
                                    <span class="btn btn-large primary-color text-white">Clothing</span> -
                                    <span class="btn btn-large primary-color text-white">Services</span> - 
                                    <span class="btn btn-large primary-color text-white">Event Tickets</span> - 
                                    <span class="btn btn-large primary-color text-white">Next item</span>
                                </p>
                                <p class="text-black">
                                    We can only offer products that shop owners elect to post on our website. We welcome all new shops, and products to this website 
                                    and would encourage 
                                </p>
                            </div>
                        </div> 
                        <div class="row justify-content-center" id="howItWorks">
                            <h3 class="logo-font">How It Works?</h3>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="text-muted">For Shop Owners</h4>
                                <p class="text-black">
                                    Firstly, to sell your products on this website, you must first get approval. This process is free, and is our way of ensuring 
                                    the only products on this website are in fact sourced from legitimate businesses. We do not charge for hosting fees, listing fees 
                                    or subscription. This service is free to use, and we are available 24 hours a day to help you list your products on our website.
                                </p>
                                <h5>How To Sign Up?</h5>
                                <p class="text-black">
                                    The first step is registering for an account. To do that, please use the link at the bottom of this section. Once we see that you 
                                    have a legitimate business in Malta and / or Gozo, your account will be activated and you will be given website privilages that will 
                                    allow you to create & manage your products, view orders, view previous orders and more.<br><br>
                                    
                                </p>    
                                <button class="btn btn-large text-white bg-black">Sign Up As A Seller</button>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="text-muted">For Shoppers</h4>
                                <p class="text-black">
                                    To start shopping, you can simply navigate to the products page, or if you would like a more personalised shopping experience, 
                                    and take advantage of certain promotional offers, you can create a free account. Doing this create a user dashboard where you can 
                                    view your order history, track items, rate products, 
                                </p>
                                <h5>How To Sign Up?</h5>
                                <p class="text-black">
                                    The first step is registering for an account. To do that, please use the link at the bottom of this section. Once we see that you 
                                    have a legitimate business in Malta and / or Gozo, your account will be activated and you will be given website privilages that will 
                                    allow you to create & manage your products, view orders, view previous orders and more.<br><br>
                                </p>    
                                <button class="btn btn-large text-white bg-black">Sign Up To Avail Of Any Promotions</button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <div class="row spacer"></div>
</div>
{% endblock %}

<!--Aditional Javascript-->
{% block post_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script src="{% static 'js/home.js' %}"></script> 
{% endblock %}