{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background">
    <div id="hero-home">
        <div class="container-fluid h-100">
            <div class="row no-gutters h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="col-10 offset-1 display-3 logo-font text-black text-center">
                        The new collections are here
                    </h1>
                    <h4 class="col-12 mt-2 text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>    
    </div>
    <section id="cards">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center myborder custom-cards">
                        <div class="card-header text-black primary-color"><strong>Secure Checkout</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Shop With Peace Of Mind</h5>
                            <p class="card-text">All orders from this site are handled by an industry leading payment processing company.</p>
                            <div class="relative w-100">
                                <a href="#" id="goSecurity" class="btn rounded-1 card-button">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center myborder custom-cards">
                        <div class="card-header text-black primary-color"><strong>Product Range</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Over 500 Products</h5>
                            <p class="card-text">A wide range of products across multiple categories. Browse them all or search and sort products to find the right items for you.</p>
                            <div class="relative w-100">
                                <a href="#" id="goProducts" class="btn rounded-1 card-button">View More</a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card text-center myborder custom-cards">
                        <div class="card-header text-black primary-color"><strong>Special Offers</strong></div>
                        <div class="card-body">
                            <h5 class="card-title">Daily Deals & More</h5>
                            <p class="card-text">Browse products that are available at discounted prices through our special offers, daily deals and promotions.</p>
                            <div class="relative w-100">
                                <a href="#" id="specOffers" class="btn rounded-1 card-button">View More</a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    
        <section id="information">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    
                </div>
                <div class="carousel-item">
                    
                </div>
                <div class="carousel-item">
                     
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>        
        </section>

    <section id="questions">
        <div class="skew bg-white mb-5">
            <div class="unskew align-content-sm-center">
                <div class="col-12 col-sm-10 col-md-6 indent-left">
                    <h2 class="text-center">Security</h2>
                    <p class="text-center">
                        Providing you with the most secure online checkout. Our checkout process uses Stripe,
                        an industry leading online payments company. Should you wish to view more about Stripe, 
                        who they are, and how secure they are, please visit 
                        <a href="https://stripe.com" rel="no-referrer no-follow" target="_blank">Stripe.com</a> 
                        <span class="text-muted">Opens in a new tab.</span> 
                    </p>    
                </div>
                
            </div>
        </div>
        <div class="row spacer">
            <div class="relative">
                <div class="text-center">
                    <h2 class="sign">
                        <span class="fast-flicker">Exc</span>lu<span class="flicker">si</span>vel<span class="flicker">y</span>
                        <span class="margin">  </span>
                        <span class="flicker">I</span><span class="fast-flicker">n</span>
                        <span class="margin">  </span>
                        <span class="fast-flicker">Ma</span>l<span class="flicker">t</span><span class="fast-flicker">a</span>    
                    </h2>
                </div>      
            </div>
            
        </div>
        <div class="unskew bg-white mt-5">
            <div class="skew align-content-sm-center">
                <div class="col-12 col-sm-10 col-md-6 offset-md-5 indent-right">
                    <h2 class="mt-5 text-center">Product Range</h2>
                    <p class="text-center">
                        Providing you with the most secure online checkout. Our checkout process uses Stripe,
                        an industry leading online payments company. Should you wish to view more about Stripe, 
                        who they are, and how secure they are, please visit 
                        <a href="https://stripe.com" rel="no-referrer no-follow" target="_blank">Stripe.com</a> 
                        <span class="text-muted">Opens in a new tab.</span> 
                    </p>    
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
{% block post_js %}
<script>
    $('.carousel').carousel({
        interval: 5000
    })
    $('#goSecurity').click(function(event){
        event.preventDefault();
        $('.carousel').carousel(0);
    })
    $('#goProducts').click(function(event){
        event.preventDefault();
        $('.carousel').carousel(1);
    })
    $('#specOffers').click(function(event){
        event.preventDefault();
        $('.carousel').carousel(2);
    })
</script>
{% endblock %}